#main , #form , #Followers{

  background: #c31432; 
background: -webkit-linear-gradient(to right, #240b36, #c31432);  
background: linear-gradient(to right, #240b36, #c31432); 

}
#form{
  position: absolute;
  padding: 20px;
  border: 2px solid black;
  border-radius: 20%;
  top: 20%;
  left: 20%;
  right: 20%;
  /* transform: translate(-50%, -50%); */
}
/* #Followers{
  position: absolute;
  padding: 20px;
  border: 2px solid black;
  border-radius: 20%;
  top: 20%;
  left: 20%;
  right: 20%;
  line-height: 2em;
} */
.max-height {
  min-height: 100vh;
}
.person-icon {
  font-size: 1.5rem;
}
.single-info {
  font-size: 0.7rem;
}
.card-img-top {
  height: 350px;
  clip-path: polygon( 100% 0%, 100% 85%, 48% 100%, 0 85%,0 0);
}
@media screen and (min-width: 768px) {
  .single-info {
    font-size: 1rem;
  }
  .card-img-top {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh!important;
    clip-path: polygon( 100% 0%, 100% 85%, 50.5% 100%, 0 85%,0 0);
  }
  #main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


#scroller{
  margin-left: 5vh 0;
   margin-bottom: 5vh 0;
    margin-right: 5vh 0;
}
#user , #followers{
 
  font-size: larger;
  font-weight: 600;
}
#user{
   color: aliceblue;
}
#followers{
  color: brown;
}
h6{
  color: wheat;
}
.small-Middle{
  position: absolute;
  padding: 20px;
  border: 2px solid black;
  border-radius: 20%;
  top: 20%;
  left: 20%;
  right: 20%;
  line-height: 2em;
}
#previous, #next{
  font-size: xx-large;

}
#up-position{
  display: flex;
  justify-self: center;
}
h1{
  color: coral;
  text-align: center;
}